<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
    <title>Jetzt mitmachen !!!</title>
</head>

<body>
<p class="h4" th:text="Teilnahmeformular"><em></em></p>

<form action="#" th:action="@{/formular}" method="post">

    <select class="form-control" id="geschlecht" name="geschlecht">
        <option>Herr</option>
        <option>Frau</option>
        <option>Divers</option>
        <option>Keine Angabe</option>
    </select>


<div class="form-group">
    <label for="vorname" th:text="Vorname"></label>
    <input type="text" minlength="2" pattern="^[a-zA-ZßÄÖÜäöü]{1,99}-?[a-zA-ZßÄÖÜäöü]" class="form-control" id="vorname" name="vorname" placeholder=" Bitte Vornamen eingeben" required/>
</div>

<div class="form-group">
    <label for="nachname" th:text="Nachname"></label>
    <input type="text"  minlength="2" pattern="^[a-zA-ZßÄÖÜäöü]{1,99}-?[a-zA-ZßÄÖÜäöü]" class="form-control" id="nachname" name="nachname" placeholder=" Bitte Nachname eingeben" required/>
</div>

<div class="form-group">
    <label for="strasse" th:text="Strasse"></label>
    <input type="text"  minlength="2" pattern="^[a-zA-ZßÄÖÜäöü]{1,99}-?[a-zA-ZßÄÖÜäöü]" class="form-control" id="strasse" name="strasse" placeholder=" Bitte Strasse eingeben" required/>
</div>

<div class="form-group">
    <label for="plz" th:text="Postleitzahl"></label>
    <input type="text"  minlength="2" pattern="^[0-9]+" class="form-control" id="plz" name="plz" placeholder=" Bitte PLZ eingeben" required/>
</div>

    <div class="form-group">
        <label for="ort" th:text="Ort"></label>
        <input type="text"  minlength="2" pattern="^[a-zA-ZßÄÖÜäöü]{1,99}-?[a-zA-ZßÄÖÜäöü]" class="form-control" id="ort" name="ort" placeholder=" Bitte Ort eingeben" required/>
    </div>

<div class="form-group">
    <label for="hausnummer" th:text="Hausnummer"></label>
    <input type="text"  minlength="1" pattern="^[0-9]-?[a-z]?" class="form-control" id="hausnummer" name="hausnummer" placeholder=" Bitte Hausnummer eingeben" required/>
</div>

<div class="form-group">
    <label for="land" th:text="Land"></label>
    <input type="text"  minlength="2" pattern="^[a-zA-ZßÄÖÜäöü]{1,99}-?[a-zA-ZßÄÖÜäöü]" class="form-control" id="land" name="land" placeholder=" Bitte Land eingeben" required/>
</div>

<div class="form-group">
    <label for="eMail" th:text="Email"></label>
    <input type="text"  minlength="2" pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$" class="form-control" id="eMail" name="eMail" placeholder=" Bitte Email eingeben" required/>
</div>
    <br/>
    <h3 th:text="${emailerror}"></h3>
<br/>
<button type="submit" class="btn btn-primary" th:text="Senden"></button>
</form>

</div>
</body>

</html>