<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
</head>
<br>
<table border="1">
    <tr>
        <th>Vorname: </th>
        <th>Nachname: </th>
        <th>E-Mail: </th>
        <th>Land: </th>
    </tr>
        <tr th:each ="teilnehmer : ${teilnehmers}">
        <td th:text="${teilnehmer.getVorname()}">...</td>
        <td th:text="${teilnehmer.getNachname()}">...</td>
        <td th:text="${teilnehmer.getEMail()}">...</td>
            <td th:text="${teilnehmer.getLand()}">...</td>
        </tr>
</table>
<br/>
<br/>
<button onclick="myFunction()">Gewinner ermitteln</button>
<p id="winner"></p>
<script type="text/javascript">
    function myFunction() {
        document.getElementById("winner").innerHTML = $ajax({});
    }
</script>
</body>
<!--<a href="/winner" class="btn btn-outline-dark" role="button">Gewinner ermitteln</a> -->
</html>